{:+ {:app {"alt-t alt-r" [:workspace.show]
           "f1" [:dev-inspector]}

     :editor {"alt-w" [:editor.watch.watch-selection]
              "alt-shift-w" [:editor.watch.unwatch]
              "alt-f" [:paredit.grow.right]
              "alt-d" [:paredit.grow.left]
              "alt-s" [:paredit.shrink.right]
              "alt-a" [:paredit.shrink.left]
              "alt-k" [:paredit.select.parent]
              "alt-t alt-w" [:rolex.watch.values-over-time]
              ;; Format document
              "ctrl-e ctrl-d" [:editor.capture-position
                               :editor.select-all
                               :smart-indent-selection
                               :editor.reset-position]
              "ctrl-e ctrl-f" [:smart-indent-selection]
              "ctrl-k ctrl-c" [:toggle-comment-selection]
              "f6" [:build]
              }}}
