.obj-root {
  overflow: scroll;
}
.obj-node {
  position: relative;
  cursor: default;
}

.obj-node .children {
  margin-left: 18px;
}

.obj-node .display {
  min-width: 100px;
  display: inline-block;
  border: 1px solid transparent;
}
.obj-node .display:hover {
  border: 1px solid #4D4D4D !important;
  background-color: #4D4D4D !important;
  border-radius: 3px;
}

.obj-node .display:hover > * {
  background-color: #4D4D4D !important;
}
